/*
Selectores {
    propiedades: Valor --> Declaracion.
}
*/
body {font-family: Arial, Helvetica, sans-serif;}
h1 {color: blueviolet;}
#masvendidos{font-family: Arial;text-align: center;}
.article {font-size: 16px;}
.negrita{font-weight: bold;}
.title{color: green;}