<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <title>Sobre mi</title>
</head>

<body>
    <a href="../index.html">Inicio</a>
    <p>I am an automation industrial enginner.</p>

    <p>I have knowledge in process control, PLC programming, SCADA systems, automation project development, SOLIDWORKS
        design, high performance HMI design based on the ISA 101 standard, industrial communications, PCB design in
        PROTEUS , industrial instrumentation based on the ISA 5 standard, business integration based on the ISA 95
        standard, integrating the different levels of the automation pyramid optimally and with basic knowledge of IIoT
        industrial networks.</p> 
     <p> I also have education in administrative issues, such as management and quality control, application of
        conceptual, basic and detail engineering for the development of automation projects, management of ERP tools,
        process analysis to reduce downtime, in business issues.</p>

    <p>I received techniques, methodologies and tools that allow me to identify and formulate projects, identify types
        of companies and create products.</p>
</body>

</html>