<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi app</title>
</head>
<body>
    <header>
        <img src="../img/logo.png" alt="Logo de la empresa">

        <ul>
          <li>
            <a href="../index.html">Home</a>
          </li> 
          <li>About us</li> 
          <li>Contact</li>
        </ul>
    </header>
    <main>
        <h1>ABout us</h1>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit asperiores nulla quidem atque? Molestiae quaerat accusantium qui inventore sint fugit. Veniam iure excepturi, magnam officia repellendus est molestiae quas earum?</p>
    </main>
    <footer></footer>
        <p>Copyrigth</p>  
    </footer>
</body>
</html>