body{background-image: url(../img/Automatizacion.png);background-repeat: repeat;background-size: 400px}
header{text-align: center;}
h1{text-transform: uppercase; color: #02507e; text-align: center;}
#fondogris2{background-color: rgb(252, 247, 247);}