header{text-align: center;}
.titulo{text-transform: uppercase; color: #afafaf;background-color: rgb(0, 46, 107);}
body{background-image: url(../img/ingenieria.jpg);}
h1{padding:10px;text-align: center;letter-spacing: 5px;}
h2{padding:5px;text-align:left;letter-spacing: 4px;padding-left: 20px}
.whitespace{padding:40px}
.centrar{text-align: left;}
.negrita{font-weight:bolder };
ul{list-style-position:left;}
li{color: white;}
span{font-style:italic}
p{line-height: 0;text-align: left;padding-left: 20px;color: white;}
.espacio{padding-left: 100px; padding-bottom: 6px;}
.espacio2{padding-bottom: 50;}
footer{text-align: center; background-color: rgb(0, 35, 99); color:#f0f0f0;padding: 4px}
a{color: white;font-size: large;}
h3{color: white;}